<h1> Kitten show page </h1>

<div><%= @kitten.name %> </div>
<div><%= @kitten.age %> </div>
<div><%= @kitten.cuteness %> </div>
<div><%= @kitten.softness %> </div>

<div><%= link_to 'delete', @kitten, method: :delete, data: {confirm: "Are you sure you want to delete this kitten?"} %></div>